# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.spec

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Excel / temporary files
# =========================
~$*.xlsx
*.tmp
